body {
    background-image: url('/IMAGE.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.05);
}